<h2><%= @model.company_name %></h2>

<h3>Bugs</h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= gettext("Gemiddelde eerste reactietijd") %></th>
      <th scope="col"><%= gettext("Gemiddelde sluittijd") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @model.bug_averages.average_first_response %></td>
      <td><%= @model.bug_averages.average_closing_time %></td>
    </tr>
  </tbody>
</table>
