/* This file is for your main application css. */

/* Header */
.logo {
  font-size: 30px;
  font-weight: 600;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

body {
  padding-top: 100px;
}
